<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>CSS con Cofito dev</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div id="container">
        <header>
            <h1>CSS con cofit0dev</h1>
        </header>

        <nav>
            <ul>
                <li>
                    <a href="firsttest.html">Inicio</a>
                </li>
                <li>
                    <a href="firsttest.html">Crear cuenta</a>
                </li>
                <li>
                    <a href="firsttest.html">Iniciar sesión</a>
                </li>
                <li>
                    <a href="firsttest.html">Ayuda</a>
                </li>
            </ul>
        </nav>

        <div class="clearfix"></div>

        <section id="content">
            <article class="article">
                <h2>Titulo del articulo 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, eius! Omnis laborum ex eius animi
                    voluptatum optio commodi non ut iure dicta? Cupiditate est debitis praesentium ex magni minima!
                    Labore sapiente aut cumque maiores iure dolorum doloremque obcaecati, ad vel quisquam quam eum quasi
                    ipsum? Iste, neque? Totam harum id voluptates velit ducimus accusantium expedita consequuntur facere
                    placeat fugit consectetur nisi repellendus minima earum quis aut, autem sint nam assumenda.
                    Exercitationem porro corporis maxime eligendi est at voluptates eum. Mollitia recusandae
                    exercitationem cumque, vel obcaecati excepturi velit saepe quis? Soluta voluptate libero corporis
                    suscipit, blanditiis voluptas sed illo eligendi vero.
                    Here is <span class="bold">some text</span> that we are going to apply
                    <span class="bold red">different styles</span> to. You can see how
                    <span class="bold yellow-background">multiple classes</span> can be used to
                    change the <span class="red bold yellow-background">look and feel</span>
                    of the text.
                </p>
            </article>

            <article class="article 2">
                <h2>Titulo del articulo 2</h2>
                <p>Texto del articulo</p>
            </article>

            <article class="article 3">
                <h2>Titulo del articulo 3</h2>
                <p>Texto del articulo</p>
            </article>
        </section>

        <aside>
            <h2>Barra lateral</h2>
            <form>
                <input type="text">
                <input type="submit" value="buscar">
            </form>

        </aside>

        <div class="clearfix"></div>

        <footer>
            cofit0dev WEB &copy; 2022
        </footer>

    </div>
</body>

</html>